#explore{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 70px;
}

#explore #food{
    display: grid;
    grid-template-columns: repeat(3,minmax(0px, 550px));
}

#food img{
    position: relative;
    height: 500px;
    width: 400px;
    border-radius: 15%;
    padding: 50px;
}

#foodName{
    position: relative;
    font-size: 24px;
    color: white;
    bottom: 20%;
}