#menu{
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 220, 220);
    justify-content: center;
    text-align: center;
}

#food-list{
    display: grid;
    grid-template-columns: repeat(2,minmax(0px, 550px));
    justify-content: center;
}

#food-card{
    display: flex;
    flex-direction: row;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#food-card img{
    max-width: 100px;
    max-height: 100px;
}

#food-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100px;
    padding-left: 10px;
    text-align: start;
}

#food-text #food-title{
    font-size: 20px;
    font-weight: bold;
}

#food-btn{
    background-color: gray;
    text-align: center;
    color: black;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 24px;
    margin-top: 10px;
    transition: 0.25s ease;
}

#food-btn:hover{
    background-color: lightgray;
    color: white;
}

