#explore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explore #food{
    display: grid;
    grid-template-columns: repeat(3,minmax(0px, 550px));
    justify-content: center;
}

#food #card-pizza, #card-burger, #card-momo{
    height: 500px;
    width: 400px;
    border-radius: 10px;
    margin: 0px 50px 100px 50px;
    text-align: center;
    z-index: -1;
}

#food #card-pizza{
    background-image: url("../image/pizza.jpg");
}

#food #card-burger{
    background-image: url("../image/burger.jpg");
}

#food #card-momo{
    background-image: url("../image/momo.jpg");
}

#foodName{
    position: relative;
    font-size: 24px;
    color: white;
    top: 90%;
}