#explore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explore #food{
    display: grid;
    grid-template-columns: repeat(3,minmax(0px, 550px));
    justify-content: center;
}

#food img{
    position: absolute;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    margin: 0px 50px 100px 50px;
    align-items: center;
    z-index: -1;
}

#foodName{
    position: relative;
    font-size: 24px;
    color: white;
    top: 420px;
    left: 210px
}