#table-admin{
    width: 100%;
    padding-top: 25px;
}

#table-admin tr th{
    border-bottom: 1px solid black;
    text-align: start;
}

table tr td{
    padding: 10px 0 10px 0;
}

#btn-admin, #btn-secondary, #btn-danger{
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    border-style: none;
    cursor: pointer;
}

#btn-admin{
    background-color: darkgray;
    color: white;
}

#btn-admin:hover{
    background-color: gray;
    color: black;
}

#btn-secondary{
    background-color: #7bed9f;
    color: white;
}

#btn-secondary:hover{
    background-color: #2ed573;
    color: black;
}

#btn-danger{
    background-color: #ff6b81;
    color: white;
}

#btn-danger:hover{
    background-color: #ff4757;
    color: black;
}