#table-admin{
    width: 100%;
    padding-top: 25px;
}

#table-admin tr th{
    border-bottom: 1px solid black;
    text-align: start;
}

#btn-admin, #btn-delete, #btn-update{
    text-decoration: none;
    padding: 1%;
    border-radius: 5px;
    font-weight: bold;
}

#btn-admin{
    background-color: gray;
    color: black;
}

#btn-admin:hover{
    background-color: darkgray;
    color: white;
}

#btn-update{
    color: white;
    background-color: #7bed9f;
}

#btn-delete{
    color: white;
    background-color: #ff6b81;
}
