*{
    margin: 0;
    padding: 0;
}

table tr td{
    padding: 10px 0 10px 0;
}

body{
    background: rgb(225, 225, 225);
}

input, textarea{
    padding: 1%;
}

select{
    width: 176px;
}

textarea{
    width: 170px;
}

textarea{
    resize: none;
}

#title{
    padding-bottom: 25px;
}

#menu{
    border-bottom: 3px solid gray;
    background-color: white;
}

#menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu li{
    list-style: none;
    padding: 20px;
    text-align: center;
}

#menu a{
    text-decoration: none;
    font-size: 24px;
    color: #000;
}

#menu li:hover{
    background-color: rgb(225, 225, 225);
}

#main-content{
    padding: 5% 15% 5% 15%;
}

#dashboard{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 400px));
    justify-content: center;
}

#dashboard-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 350px;
    height: 100px;
    margin: 3%;
}

#footer{
    background-color: white;
    text-align: center;
    padding: 1%;
}


